doctype html
html
  head
    title CAREERDNA
    block styles
      link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css')
      link(rel='stylesheet' type='text/css' href='/css/main.css')
      link(rel='stylesheet' type='text/css' href='/css/employer.css')
    block scripts

  body
    .side-menu
      ul
        li.grey-background.logo-item
          .img-parent
            a(href='/home')
              img.logo(src='/images/logo.png')
        li
          a.is-size-4(href='/jobs') Jobs
        li
          a.is-size-4(href='/applicants') Applicants
        li
          a.is-size-4(href='/logout') Logout
    .content
      block content