extends layout

block append styles
  link(rel='stylesheet' type='text/css' href='/css/main.css')

block content
  section
    .container.landing-text
      p.is-size-1 Every talent has a secret sauce
      p.is-size-3 What's your secret sauce?
      .landing-menu
        p.is-size-6
          a.is-clickable(href='/employee_landing') Candidates
        p.is-size-3.is-text-divider |
        p.is-size-6
          a.is-clickable(href='/employer_landing') Employers
      