doctype html
html
  head
    title CAREERDNA
    block styles
      link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css')
      link(rel='stylesheet' type='text/css' href='/css/main.css')
    block scripts

  body
    block content