extends layout

block append styles
  link(rel='stylesheet' type='text/css' href='/css/signup.css')

block append scripts
  script(src="https://use.fontawesome.com/0ccbc46afa.js")

block content
  section
    .container
      .form-container
        .field
          label.label Email
          .control
            input#email.input(type='text' placeholder='john.doe@email.com')
        .field
          label.label Password
          .control
            input#password.input(type='password' placeholder='Password')
        .field
          .control
            button#submit.button.is-primary Sign In

        article#error-container.message.is-danger
          #error.message-body
  
  script(src='/dist/login.bundle.js')