extends layout

block content
  nav.navbar(role='navigation' aria-label='main navigation')
    .navbar-brand
      p.navbar-item.is-size-4
        | CAREER
        span.has-text-weight-bold DNA
  section.yellow-bg.padding-20
    .container
      p.is-size-2.has-text-white Discover your secret sauce for early career success
      .flex-form-field
        p.is-size-5.has-text-white Please select your undergrad school
        .field
          .control
            .select
              select#college
                option Amherst College
                option Bard College
                option BARNARD COLLEGE
                option Bates College
                option Bowdoin College
                option Bryn Mawr College
                option Bucknell University
                option Carleton College
                option Centre College
                option Claremont McKenna College
                option Colby College
                option Colgate University
                option College of the Holy Cross
                option Colorado College
                option Connecticut College
                option Davidson College
                option Dickinson College
                option FRANKLIN & MARSHALL COLLEGE
                option Grinnell College
                option Hamilton College
                option Harvey Mudd College
                option Haverford College
                option Kenyon College
                option Lafayette College
                option Macalester College
                option Middlebury College
                option Mount Holyoke College
                option Oberlin College
                option Occidental College
                option Pitzer College
                option Pomona College
                option Rhodes College
                option Scripps College
                option Skidmore College
                option Smith College
                option Soka University of America
                option Swarthmore College
                option Trinity College
                option Union College
                option University of Richmond
                option UNIVERSITY OF THE SOUTH
                option Vassar College
                option WASHINGTON & LEE UNIVERSITY
                option Wellesley College
                option Wesleyan University
                option Whitman College
                option Williams College

      .flex-form-field
        p.is-size-5.has-text-white Were you a transfer student?
        .field
          .control
            .select
              select#transfer-student
                option(value='0') No
                option(value='1') Yes
      .flex-form-field
        p.is-size-5.has-text-white Did you take a gap year?
        .field
          .control
            .select
              select#gap-year
                option(value='0') No
                option(value='1') Yes
  section.padding-20
    .container
      p.is-size-4.centered Please choose the most important ingredients of your secret sauce
    .circles
      .circle-option
        .circle
          img(src='/icons/identify.png')
        p My identity
      .circle-option
        .circle
          img(src='/icons/parents.png')
        p My parents
      .circle-option
        .circle
          img(src='/icons/gender.png')
        p My gender
      .circle-option
        .circle
          img(src='/icons/family.png')
        p My family
      .circle-option
        .circle
          img(src='/icons/school-paid.png')
        p How I paid for school
    .circles
      .circle-option
        .circle
          img(src='/icons/school-choice.png')
        p Why I chose my school
      .circle-option
        .circle
          img(src='/icons/campus-life.png')
        p My life on campus
      .circle-option
        .circle
          img(src='/icons/college-life.png')
        p My getting used to college
      .circle-option
        .circle
          img(src='/icons/senior.png')
        p Becoming a senior
      .circle-option
        .circle
          img(src='/icons/major.png')
        p My major
    .circles
      .circle-option
        .circle
          img(src='/icons/student-loans.png')
        p Effects of my student loans
      .circle-option
        .circle
          img(src='/icons/certifications.png')
        p My certifications
      .circle-option
        .circle
          img(src='/icons/barriers.png')
        p Barriers beyond me
      .circle-option
        .circle
          img(src='/icons/serious-life-events.png')
        p Serious life events
      .circle-option
        .circle
          img(src='/icons/other-things.png')
        p Other things

    .centered-items
      #submit.button.yellow-bg.has-text-white Let's Make Your Secret Sauce

  script(src='/dist/main.bundle.js')
