extends employee_layout

block append styles
  
block append scripts
  
block content
  .published
    .section-title
      p.is-size-3 My Jobs
    each job in jobs
      .job
        a.is-size-5.job--title(href="/jobs/" + job.id)= job.title
        p.is-size-5.job--desc= job.description