extends layout

block append styles
  style.
    .chart-container {
      margin-top: 50px;
      width: 600px;
      height: 600px;
    }

block append scripts

block content
  nav.navbar(role='navigation' aria-label='main navigation')
    .navbar-brand
      a.navbar-item.is-size-4(href='/')
        | CAREER
        span.has-text-weight-bold DNA
  .bar.yellow-bg
  section
    .container.chart-container
      canvas#radarChart(width="300" height="300")
  script(src='/dist/results.bundle.js')
      