extends layout

block append styles
  link(rel='stylesheet' type='text/css' href='/css/signup.css')

block append scripts
  script(src="https://use.fontawesome.com/0ccbc46afa.js")

block content
  section
    .container
      .form-container
        .field
          label.label First Name
          .control
            input#first_name.input(type='text' placeholder='First Name')
        .field
          label.label Last Name
          .control
            input#last_name.input(type='text' placeholder='Last Name')
        .field
          label.label Account Type
          .select
            select#type
              option(value='employee') Employee
              option(value='employer') Employer
        .field
          label.label Email
          .control
            input#email.input(type='text' placeholder='john.doe@email.com')
        .field
          label.label Password
          .control
            input#password.input(type='password' placeholder='Password')
        .field
          label.label Confirm Password
          .control
            input#confirm-password.input(type='password' placeholder='Confirm Password')
        .field
          .control
            button#submit.button.is-primary Sign Up

        article#error-container.message.is-danger
          #error.message-body
  
  script(src='/dist/signup.bundle.js')