.flex-form-field {
	display: flex;
	justify-content: flex-start;
	vertical-align: center;
	margin-bottom: 10px;
}

.flex-form-field .field {
	margin-left: 20px;
}

.yellow-bg {
	background-color: #ffad33;
}

.padding-20 {
	padding: 20px;
}

p.centered {
	text-align: center;
}

.circles {
	display: flex;
	justify-content: center;
}

.circle-option {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.circle {
	width: 200px;
	height: 200px;
	border: 5px solid #e6e6e6;
	border-radius: 100px;
}

.small-circle {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 5px solid #e6e6e6;
}

.centered-items {
	display: flex;
	justify-content: center;
}

.option-selected {
	background-color: #e6e6e6;
}

.option-selected-text {
	font-weight: bolder;
}

.grey-font {
	color: #b3b3b3;
}

.centered-text {
	text-align: center;
}