header {
	padding: 20px;
	background-color: #f2f2f2;
}

.img-parent {
	width: 180px;
}

.logo {
	display: block;
	width: 100%;
	height: auto;
}

.bar {
	width: 100%;
	height: 20px;
}

.landing-text {
	margin-top: 100px;
}

.flex-form-field {
	display: flex;
	justify-content: flex-start;
	vertical-align: center;
	margin-bottom: 10px;
}

.flex-form-field .field {
	margin-left: 20px;
}

.is-underlined {
	text-decoration: underline;
}

.is-yellow {
	color: #ffad33;
}

.is-hover-yellow:hover {
	color: #ffad33;
}

.is-clickable:hover {
	cursor: pointer;
}

.yellow-bg {
	background-color: #ffad33;
}

.padding-20 {
	padding: 20px;
}

p.centered {
	text-align: center;
}

.circles {
	display: flex;
	justify-content: center;
}

.circle-option {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.circle {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	border: 5px solid #e6e6e6;

	display: flex;
	justify-content: center;
	text-align: center;
}

.circle:hover {
	cursor: pointer;
}

.circle img {
	align-self: center;
	width: 70px;
	height: 70px;
}

.small-circle {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 5px solid #e6e6e6;
}

.centered-items {
	display: flex;
	justify-content: center;
}

.option-selected {
	background-color: #e6e6e6;
}

.option-selected-text {
	font-weight: bolder;
}

.grey-font {
	color: #b3b3b3;
}

.centered-text {
	text-align: center;
}

.landing-menu {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.landing-menu.centered {
	justify-content: center;
}

.landing-menu a {
	color: #000;
}

.landing-menu a:hover {
	color: #737373;
	cursor: pointer;
}

.is-text-divider {
	margin: 0 20px 0 20px;
}